body {
    display: block;
    background-color: rgb(6, 104, 6);
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    height: inherit;
}

.canvas {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cartas {
    width: 226px;
    height: 314px;
    background-color: rgb(3, 139, 25);
    display: inline-block;
    margin: auto;
    border-radius: 8px;
}

.butoes {
    display: flex;
    justify-content: center;
    background-color: rgba(22, 175, 137, 0.493);
}

.butao {
    margin: 0 12px;
    font-size: 24px;
    padding: 8px;
    border-radius: 10px;
}

.navbar {
    background-color: rgba(22, 175, 137, 0.493);
    font-size: 24px;
}